{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/libs/normalize.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/libs/foundation.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/wwm.css"/>

        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="container">
            {% block body %}
            <div id="games-list">
            </div>
            <div id="game-waitingroom">
            </div>
            <div id="game-container">
                <div id="game-board">
                </div>
            </div>
            {% endblock %}
        </div>

        <script type="text/html" id="games-list-template">
            <div id="create-game-container">
                <div id="create-game-dialog" class="medium reveal-modal">
                    <h3>{% trans "Create new game" %}</h3>
                    <form method="post" action="">
                        <div class="form">
                        {% csrf_token %}
                        {% include "form.html" with form=create_game_form %}
                        </div>
                        <div class="row">
                            <div class="large-12 small-12 columns">
                                <input type="submit" class="button" id="create-game" value="Create game"/>
                            </div>
                        </div>
                        </select>
                    </form>
                </div>
                <div class="row">
                    <div class="small-12 large-12 columns">
                        <a class="button" href="/#games/new">Create game</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <table>
                        <thead>
                            <tr>
                                <th>Creator</th>
                                <th>Level</th>
                                <th>Categories</th>
                                <th>Players</th>
                                <th>Join</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% _.each(games, function(game) { %>
                            <tr>
                                <td><%= game.creator %></td>
                                <td><%= game.money %></td>
                                <td><%= game.categories %></td>
                                <td><%= game.nb_players %> / <%= game.max_players %></td>
                                <% if(game.status == 1) { %>
                                    <td <% if(game.has_password) { %>class="locked"<% } %>><a href="#/games/<%= game.id %>">Join</a></td>
                                <% } else { %>
                                    <td></td>
                                <% } %>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>

        <script type="text/html" id="game-template">
            <div class="row">
                <div class="large-6 small-6 columns">
                    Current player is <%= current_player %>
                </div>
                <div class="large-6 small-6 columns">
                    <img src="{{ STATIC_URL }}images/gold.png"/>
                    <%= current_money %>
                </div>
            </div>
            <div class="row">
                <div class="large-12 small-12 columns question-container">
                    <div class="panel"><%= current_question %></div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 small-12 columns">
                    <ol class="large-block-grid-2 small-block-grid-1" id="answers">
                    </ol>
                </div>
            </div>
        </script>

        <script type="text/html" id="game-waitingroom-template">
            <div id="nickname-dialog" class="medium reveal-modal">
                <h3>{% trans "Game information" %}</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {% include "form.html" with form=nickname_form %}
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <input type="submit" class="button" id="join-game" value="Join game"/>
                        </div>
                    </div>
                    </select>
                </form>
            </div>
            <a id="start-game" href="" class="button">Start game</a>

            <ul id="players-list">
                <% _.each(players, function(player) { %>
                    <li><%= player.name %></li>
                <% }); %>
            </ul>
        </script>

        <script type="text/javascript">
            window.sessionId = '{{ request.session.session_key|default:'' }}';
            {% if player_id %}
            window.playerId = '{{ player_id }}';
            {% endif %}
        </script>

        <script src="{{ STATIC_URL }}js/libs/jquery-1.10.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
        <script src="{{ STATIC_URL }}js/libs/socket.io.js"></script>
        <script src="{{ STATIC_URL }}js/libs/foundation.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/underscore.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/backbone.min.js"></script>

        <script src="{{ STATIC_URL }}js/app.js"></script>
        <script src="{{ STATIC_URL }}js/sockets.js"></script>
        <script src="{{ STATIC_URL }}js/models/game.js"></script>
        <script src="{{ STATIC_URL }}js/models/player.js"></script>
        <script src="{{ STATIC_URL }}js/collections/games.js"></script>
        <script src="{{ STATIC_URL }}js/collections/players.js"></script>
        <script src="{{ STATIC_URL }}js/views/socketioview.js"></script>
        <script src="{{ STATIC_URL }}js/views/gameview.js"></script>
        <script src="{{ STATIC_URL }}js/views/gamesview.js"></script>
        <script src="{{ STATIC_URL }}js/views/gamewaitingroomview.js"></script>
        <script src="{{ STATIC_URL }}js/views/creategameview.js"></script>

        {% block extrajs %}{% endblock %}
    </body>
</html>
