{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/libs/normalize.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/libs/foundation.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/wwm.css"/>

        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="container">
            {% block body %}
            <div id="create-game-dialog" class="medium reveal-modal">
                <h3>{% trans "Create new game" %}</h3>
                <form method="post" action="{% url 'home' %}" {% if create_game_form.errors %}class="errors"{% endif %}>
                    {% csrf_token %}
                    {% include "form.html" with form=create_game_form %}
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <input type="submit" class="button" value="Create game"/>
                        </div>
                    </div>
                    </select>
                </form>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <a class="button" id="create-game">Create game</a>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <table id="games-list">
                        <thead>
                            <tr>
                                <th>Categories</th>
                                <th>Players</th>
                                <th>Join</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            {% comment %}
            <div class="row">
                <div class="twelve columns">
                    <form id="connect" method="post" action="">
                        {% csrf_token %}
                        <input id="nickname" type="text" name="nickname"/>
                        <input type="submit" class="button"/>
                    </form>
                    <ul id="games">
                    </ul>
                    <a id="start">Start</a>
                </div>
            </div>
            {% endcomment %}
            {% endblock %}
        </div>
        <script src="{{ STATIC_URL }}js/libs/jquery-1.10.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/socket.io.js"></script>
        <script src="{{ STATIC_URL }}js/libs/foundation.min.js"></script>
        <script src="{{ STATIC_URL }}js/wwm.js"></script>
    </body>
</html>
